.card {
  width: 350px;
  min-height: 300px;
  background-color: white !important;
  border: 1px solid black;
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}
